{% extends "base.html" %}

{% block title %}
    Invitation from {{ invitation.from_user.username }}
{% endblock title %}

{% block content %}
    <div class="well col-sd-6">
        <p>User {{ invitation.from_user }} invites you to a game.</p>
        {% if invitation.message %}
            {{ invitation.message }}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Send the invitation</button>
        </form>
    </div>
{% endblock content%}